
1、普通变量<hr>
{$name}<br>
{$age}<br>

<br>
2、批量赋值<hr>
{$sex}<br>
{$salary}<br>

<br>
3、数组赋值<hr>
{$goods.id}<br>
{$goods.name}<br>
{$goods.model}<br>

<br>
4、对象赋值<hr>
{$info->id}<br>
{$info->name}<br>

<br>
5、常量赋值<hr>
{$Think.const.SITE_NAME}<br>

<br>
6、PHP系统常量<hr>
{$Think.const.PHP_VERSION}<br>
{$Think.const.PHP_OS}<br>

<br>
7、PHP系统变量<hr>
{$Think.server.php_self}<br>
{$Think.server.session.id}<br>
{$Think.server.get.name}<br>
{$Think.server.post.name}<br>

<br>
8、PHP配置参数<hr>
{$Think.config.database.hostname}<br>

<br>
9、请求变量<hr>
{$Request.get.name}<br>
{$Request.param.name}<br>
{$Request.path}<br>
{$Request.root}<br>
{$Request.root.true}<br>
{$Request.controller}<br>
{$Request.action}<br>
{$Request.host}<br>
{$Request.ip}<br>




