{extend name="public:base" /}
{block name="body"}
	<!-- 主体 -->
	<div class="row">
		<!-- 左侧8列 -->
		<div class="col-md-8">
		<!-- 页头 -->
		<div class="page-header">
  			<h2>{$cateName}</h2>
		</div>
		{volist name="artList" id="art" empty="$empty"}
		<div>			
            <img class="img-rounded" src="/uploads/{$art.title_img}"
            style="margin-right: 10px;float: left;width: 100px;height: 85px"/>
            <div class="content-detail" style="float: left;width: 80%">
              <!-- 获取当前文章的id -->
             <h4><a href="{:url('detail',['id'=>$art.id])}">{$art.title}</a></h4>
                <p>作者:{$art.user_id|getUserName}&nbsp;&nbsp;
               发布时间：{$art.create_time|date='Y年m月d日'}&nbsp;&nbsp;
               </p>
               <div>{:mb_substr(strip_tags($art.content),0,30)}</div>
              <hr/>
          </div>                
   		</div>
            {/volist}

        <div class="text-center">{$artList|raw}</div>     
{/block}